In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('/content/titanic.csv')
df.head()
# df.isnull().sum()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [16]:
cumulative_freq = df['class'].value_counts().cumsum()
relative_freq = df['class'].value_counts(normalize=True) * 100
absolute_freq = df['class'].value_counts()

freqtable = pd.DataFrame({
    'Cumulative Frequency': cumulative_freq,
    'Relative Frequency': relative_freq,
    'Absolute Frequency': absolute_freq
})

print(freqtable)

        Cumulative Frequency  Relative Frequency  Absolute Frequency
class
Third                    491           55.106622                 491
First                    707           24.242424                 216
Second                   891           20.650954                 184

In [36]:
malesurvivedzero = df[(df['survived'] == 0) & (df['sex'] == 'male')]
malesurvivedone = df[(df['survived'] == 1) & (df['sex'] == 'male')]
femalesurvivedzero = df[(df['survived'] == 0) & (df['sex'] == 'female')]
femalesurvivedone = df[(df['survived'] == 1) & (df['sex'] == 'female')]


male_0 = len(malesurvivedzero)
male_1 = len(malesurvivedone)
female_0 = len(femalesurvivedzero)
female_1 = len(femalesurvivedone)
survived0sum = sum([male_0,female_0])
survived1sum = sum([male_1,female_1])

table = pd.DataFrame({
    'Sex': ['Male', 'Female', 'Total'],
    'Survived 0': [male_0, female_0, survived0sum],
    'Survived 1': [male_1, female_1, survived1sum]
})

print(table)

      Sex  Survived 0  Survived 1
0    Male         468         109
1  Female          81         233
2   Total         549         342

In [42]:
df = df.dropna(subset=['sex', 'survived'])
table = pd.crosstab(df['sex'], df['survived'], margins=True)
print(table)

survived    0    1  All
sex
female     81  233  314
male      468  109  577
All       549  342  891